.buttonLayout {
    position: fixed !important;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 99999;
    border: 2px solid var(--color-grey);
    border-radius: 32px;
    width: 650px;
    background-color: wheat;
    box-shadow: 0 3px 15px var(--color-darkgrey);
    padding: 2rem;
    padding-top: 0;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
.exitBtn {
    position: absolute;
    font-family: 'fuzzy bubbles';
    right: 1.25rem;
    top: .25rem;
    width: 16px;
    cursor: pointer;
}

.columns {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.columns ul {
    padding: 0;
}

.leftColumn {
    width: 50%;
}

.rightColumn {
    width: 50%;
}

.bold {
    font-weight: bold;
}

.rule {
    width: 125px;
    background-color:var(--color-darkgrey);
    border: 1px solid var(--color-darkgrey)
}

.layoutList li {
    list-style-type: none !important;
    padding: .25rem;;
}
