.buttons {
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.radio {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.wedges {
  margin-top: 1rem;
}