.cubeFace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid var(--color-grey);
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    opacity: .8;
}

.cubeFace div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-grey);
    border-radius: 12px;
}

/* .cubeFace div:hover {
    background-color: aliceblue;
    cursor: pointer;
} */

.front {
    background-color: var(--color-blue);
    transform: rotateY(  0deg) translateZ(100px);
  }
  
  .back {
    background-color: var(--color-green);
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
      background-color: var(--color-red);
      transform: rotateY( 90deg) translateZ(100px);
  }
  
  .left {
      background-color: var(--color-orange);
      transform: rotateY(-90deg) translateZ(100px);
  }
  
  .bottom {
      background-color: var(--color-white);
      transform: rotateX(-90deg) translateZ(100px);
  }
  
  .top {
      background-color: var(--color-yellow);
      transform: rotateX( 90deg) translateZ(100px);
  }