.box {
    font-family: 'fuzzy bubbles';
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    box-shadow: 0 3px 15px var(--color-darkgrey)
  }

.startBtn {
    width: fit-content;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .5rem;
    margin-top: 1rem;
}

.guideBtn {
    width: 56px;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .25rem;
    margin-top: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

button:hover {
    background-color: var(--color-grey);
    border-color: var(--color-darkgrey);
}

.exitButton {
    font-family: 'fuzzy bubbles';
    color: var(--color-darkgrey);
    border: none;
    background: none;
    margin-left: auto;
    position: relative;
    left: 280px;
    bottom: 20px;
}

.exitButton:hover {
    background: none;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guideListItem {
    list-style-type: circle;
    line-height: 32px;
}

.guideListItem:hover {
    cursor: pointer;
    list-style-type: disc;
    color: var(--color-darkgrey);
}

.bold {
    font-weight: bold;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps ol {
    margin: 0;
    width: fit-content;
}

.steps li {
    padding: .5rem;
}

.daisyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scene {
    margin: 1rem;
    width: 150px;
    height: 150px;
  }

.daisyFace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: var(--color-grey);
}

.daisyFace div {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 3px solid var(--color-darkgrey)
}


.white {
    background-color: white;
}

.yellow {
    background-color: var(--color-yellow);
}