.box {
    font-family: 'fuzzy bubbles';
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    box-shadow: 0 3px 15px var(--color-darkgrey)
  }

.startBtn {
    width: fit-content;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .5rem;
    margin-top: 1rem;
}

.nextBtn {
    width: 56px;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .25rem;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--color-grey);
    border-color: var(--color-darkgrey);
}

.exitButton {
    font-family: 'fuzzy bubbles';
    color: var(--color-darkgrey);
    border: none;
    background: none;
    margin-left: auto;
    position: relative;
    left: 280px;
    bottom: 20px;
}

.exitButton:hover {
    background: none;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list li {
    list-style-type: circle;
    line-height: 32px;
}

.list li:hover {
    cursor: pointer;
    list-style-type: disc;
    color: var(--color-darkgrey);
}