.box {
    position: fixed !important;
    font-family: 'fuzzy bubbles';
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 99999;
    border: 2px solid var(--color-grey);
    border-radius: 32px;
    width: 650px;
    background-color:  #FAF9ED;
    box-shadow: 0 3px 15px var(--color-darkgrey);
    padding: 2rem;
    padding-top: 0;
    overflow: hidden;
}

.guideBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

.startBtn {
    width: fit-content;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .5rem;
}

.guideBtn {
    width: 56px;
    font-family: 'fuzzy bubbles';
    border: 2px solid var(--color-grey);
    border-radius: 15px;
    padding: .25rem;
    margin-top: 1rem;
    margin-left: .2rem;
    margin-right: .2rem;
}


.guideBtn:hover:enabled {
    background-color: var(--color-grey);
    border-color: var(--color-darkgrey);
}


.exitButton {
    font-family: 'fuzzy bubbles';
    font-weight: bold;
    color: var(--color-darkgrey);
    border: none;
    background: none;
    margin-left: auto;
    position: relative;
    left: 18.5rem;
    top: .25rem;
    
}

.exitButton:hover {
    background: none;
}