.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.center {
    display: flex;
}

.cube {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorPicker {
    margin-top: 2rem;
}