html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-red:  #FCB6B6;
  --color-blue:  #92CEEE;
  --color-green:  #C3E8B5;
  --color-yellow:  #FFFFBD;
  --color-orange: #F9D39D;
  --color-white:   #FAF9ED;
  --color-grey: rgb(171, 171, 171);

}

body {
  margin: 0;
  background-color: #FAF9ED;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
}
